:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #f2536e;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header{
  width: 100%;
}

.fondoHeader{
    background-image: url('./assets/img/pizza2.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el header */
    background-position: center; /* Centra la imagen en el header */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo translúcido */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 50px 0; /* Espaciado dentro del header */
    position: relative; /* Para el overlay */
    opacity: 0.9; /* Ajusta la opacidad de la imagen para hacerla translúcida */
}

.fondoHeader h1 {
    margin: 0;
}

.not-found {
  text-align: center;
  margin-top: 100px;
}

.not-found h1 {
  font-size: 48px;
  color: #333;
}

.not-found p {
  font-size: 18px;
  color: #666;
}

.not-found a {
  color: #007bff;
  text-decoration: none;
  font-size: 20px;
}

